<div class="product-detail-container mt-5">
     @switch (productDetailState.status()) {
        @case ("loading") {
            <div class="text-center text-gray-500">
                Cargando detalles del producto...
            </div>
        }

        @case ("error") {
            <div class="text-center text-red-500">
                Error al cargar el producto. Intente de nuevo.
            </div>
        }

        @default {
            <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
                <div class="flex flex-col md:flex-row">
                    <div class="md:w-1/2">
                        <img [src]="productDetailState.product()?.image" [alt]="productDetailState.product()?.title" 
                             class="w-full h-full object-cover">
                    </div>
        
                    <div class="p-6 md:w-1/2">
                        <h2 class="text-2xl font-semibold text-gray-800">{{ productDetailState.product()?.title }}</h2>
                        <p class="mt-4 text-gray-600">{{ productDetailState.product()?.description }}</p>
                        <p class="mt-4 text-lg font-bold text-amber-500">
                            {{ productDetailState.product()?.price | currency }}
                        </p>
                        <button (click)="goBack()" class="mt-6 px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-700">
                            <i class='bx bx-arrow-back'></i>
                        </button>
                    </div>
                </div>
            </div>
        }
     }
</div>